#heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
        span {
            color: var(--color-brand);
            font: var(--link);
            display: inline-block;
            transition: color .5s;

            &::before {
                content: "";
                transition: background-color .5s;
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                vertical-align: bottom;
                transform: translateY(3px);
                mask: url(../../assets/icons/arrow-left.svg);
                background-color: var(--color-brand);
                mask-repeat: no-repeat;
                mask-size: contain;
            }
        }

        &:hover {
            span {
                color: var(--color-brand-hover);

                &::before {
                    background-color: var(--color-brand-hover);
                }
            }
        }
    }

    h1 {
        font: var(--title);
        color: var(--content-primary);
        margin-bottom: 4px;
    }
}