#itemsList {
    ul {
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }
    li {
        display: flex;
        font: var(--paragraph);
        height: 3.125rem;
        border-radius: .75rem;
        background-color: var(--background-secondary);

        label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-inline: .75rem;

            input[type='checkbox'],
            button {
                all: unset;
            }

            &:has(:checked) {
                span {
                    text-decoration: line-through;
                    color: var(--content-tertiary);
                    &::before {
                        background-color: var(--color-brand);
                        background-image: url(../../assets/icons/check.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        border: 2px solid var(--color-brand);
                    }
                    &:hover::before {
                        border: 2px solid var(--color-brand);

                    }
                }
            }

            span {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                &::before {
                    content: "";
                    transition: all .4s;
                    display: inline-flex;
                    margin-right: .75rem;
                    width: 1rem;
                    vertical-align: bottom;
                    height: 1rem;
                    border-radius: 6px;
                    border: 2px solid var(--border-primary);
                }

                &:hover {
                    &::before {
                        border: 2px solid var(--border-hover);
                    }
                }
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 1rem;
                width: 1rem;
                padding: .5rem;

                img {
                    object-fit: cover;
                    object-position: center;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}