#newItem form {
    display: flex;
    gap: 1rem;
    margin-block: 2.5rem;

    input, button {
        all: unset;
        height: 2.75rem;
        border-radius: .75rem;
    }
    input[type='text'] {
        flex: 2;
        font: var(--input);
        background-color: var(--background-secondary);
        border: 2px solid var(--border-primary);
        padding-inline: 1.125rem;

        &::placeholder {
            color: var(--content-tertiary);
        }
    }

    button {
        flex: 1;
        font: var(--label);
        color: var(--always-white);
        background-color: var(--color-brand);
        text-align: center;
        max-width: 10rem;
        transition: background-color 0.2s;

        &:hover {
            background-color: var(--color-brand-hover);
            cursor: pointer;
        }
    }
}