* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

:root {
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --font-family: 'Inter', sans-serif;
    --title: 700 1.5rem/2rem var(--font-family);
    --label: 600 1rem/1.25rem var(var(--font-family));
    --paragraph: 500 1rem/1.25rem var(--font-family);
    --link: 500 .875rem/1rem var(--font-family);
}

body {
    background-color: var(--background-primary);
    font-family: var(--font-family);
}